# Python caches
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/

# Testing and Demo data
testing/
data/demo_uploads/
data/cctv_crops/
data/cctv_crops_raw/
data/logs/

# Models
models/checkpoints/
.insightface/

# IDE
.vscode/
.idea/
